.about{
    background-color: #030d3c;
    color: rgb(143, 143, 143);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .text-zone {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;

        h1 {
            font-size: 53px;
            color: yellow;
            font-weight: 900;
            margin-top: 0;
            position: relative;
            margin-bottom: 40px;
            left: 10px;
        }

        p {
            font-size: 20px;
            font-weight: 300;
            min-width: fit-content;
        }
    }

    .image-container{
        display: flex;
        position: absolute;
        left: 10%;
        top: 25%;
        width: 35%;
        height: 50%;
    }
}